body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(175, 117, 136, 0.24);
  border-right: 1px solid #eee;
}

.sidebar .list-group-item + .list-group {
  margin-left: 10px;
}

.sidebar .list-group-item.collapsed .caret {
  border-top: 8px solid;
  border-bottom: 0;
}

.sidebar .list-group-item .caret {
  float: right;
  margin-top: 6px;
  border-bottom: 8px solid;
  border-top: 0;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
    height: auto !important;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}

.navbar-brand {
  font-size: 11px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

  .navbar-brand {
    font-size: 18px;
  }
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
  font-size: 36px;
}

.list-group-item.active,
.list-group-item.active:focus {
  background-color: rgba(138, 6, 51, 0.72);
  border-color: rgba(138, 6, 51, 0.72);
}

.list-group-item:hover {
  background-color: rgba(187, 8, 71, 0.72) !important;
  border-color: rgba(187, 8, 71, 0.72) !important;
  color: #fff !important;
}

.list-group-item:hover .badge {
  background-color: #fff;
  color: #e74430;
}

.btn-primary {
  background-color: rgba(138, 6, 51, 0.72);
  border-color: rgba(138, 6, 51, 0.72);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgba(187, 8, 71, 0.72) !important;
  border-color: rgba(187, 8, 71, 0.72) !important;
  color: #fff !important;
}

.panel-primary {
  border-color: rgba(138, 6, 51, 0.72);
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: rgba(138, 6, 51, 0.72);
  border-color: rgba(138, 6, 51, 0.72);
}

.navbar-toggle {
  margin-left: 15px;
}

.checkbox label {
  margin-right: 20px;
}

